<div *ngIf='products.length > 0'>
  <h2>Cart</h2>
  <ul>
    <li *ngFor = 'let product of products'>
      <app-cart-item [cartItem]="product"></app-cart-item>
      <button (click)="addItem(product)">Add</button>
      <button [disabled]="product.quantity === 0" (click)="removeItem(product)">Remove</button>
      <button (click)="deleteItem(product)">x</button>
    </li>
  </ul>
  <div><span>Total number of products: </span>{{getProductsNumber()}}</div>
  <div><span>Total value: </span>{{getTotalSum()}}</div>
</div>