<div *ngIf='products.length > 0'>
  <h2>Cart</h2>
  <ul>
    <li *ngFor = 'let productItem of products'>
      <app-cart-item [cartItem]="productItem"></app-cart-item>
      <button (click)="addItem(productItem.product.name)">Add</button>
      <button [disabled]="productItem.quantity === 0" (click)="removeItem(productItem.product.name)">Remove</button>
      <button (click)="deleteItem(productItem.product.name)">x</button>
    </li>
  </ul>
  <div><span>Total number of products: </span>{{getProductsNumber()}}</div>
  <div><span>Total value: </span>{{getTotalSum()}}</div>
</div>